<div class="map-container">
    <div id="cesiumContainer"></div>
    <div class="toolbar">
        <button class="cesium-button cesium-button-toolbar"
                (click)="flyToSwust()">
            Home
        </button>
        <button class="cesium-button cesium-button-toolbar"
                (click)="switchModelDisplayState()">
            {{ modelDisplayOperation }}
        </button>
        <div id='baseLayerSelector'>
        </div>
    </div>
</div>

<app-plume-dialog></app-plume-dialog>
<app-pool-fire-dialog></app-pool-fire-dialog>
<app-puff-dialog></app-puff-dialog>
<app-steam-cloud-dialog></app-steam-cloud-dialog>