<kendo-dialog title='请提供蒸汽云爆炸模型的参数'
              *ngIf='opened'
              (close)='close()'>
    <div class="container">
        <form [formGroup]='formGroup'>
            <div class="row">
                <label class="col-2 col-form-label">燃料燃烧热</label>
                <div class="col-4 input-group">
                    <input type='number'
                           class="form-control"
                           placeholder="燃料燃烧热"
                           [min]='0'
                           formControlName='heatOfCombustion' />

                </div>
                <label class="col-2 col-form-label">燃料质量</label>
                <div class="col-4 input-group">
                    <input type='number'
                           class="form-control"
                           placeholder="燃料质量"
                           [min]='0'
                           formControlName='quality' />

                </div>
            </div>
        </form>
    </div>
    <kendo-dialog-actions>
        <div class="text-right">
            <button type="button"
                    class="btn"
                    (click)="close()">取消</button>
            <button type="button"
                    class="btn btn-primary"
                    (click)="submit()">确定</button>
        </div>
    </kendo-dialog-actions>
</kendo-dialog>
